
a:link, a:visited, a:hover, a:active {
    color: rgb(128, 128, 128);
  }
  
  
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    margin: 14px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4aaaa5;
    font-size: 25px;
    padding: 10px 20px;
}

p {
    padding: 20px;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    float: left;
    max-width: 400px;
}

header {

    height: 55px;
    padding: 0px;
    margin-top: -30px;
    margin: auto;   
 

    color: #333;    
    background: #ffffff;
    border-bottom: 2px solid grey;  
}

.nav-main {
    width: 960px;
    margin: auto;  
}

.nav-left {
    background-color: #4aaaa5;
    float: left;
}


.nav-right {
    
    float: left;
    margin-left: 460px;
}

h4 {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.body-main {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/floor-tile.png");
    padding:30px;
}   

.body-box {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;    
    max-width: 960px;
    min-height: 500px;
    background: #fdfdfd; 
    border: 1px solid rgb(10, 10, 10);
    position: relative;
}

.body-box-title {
    display: block;
    position: relative; 
    border-bottom: 2px solid #4aaaa5;
    max-width: 900px;
}

.body-box4 {
        display:flex;
        align-items: center;
        max-width: 960px;
}

.body-box-p {
    max-width: 800px; 
}

.img-box {
    width:250px; 
    height:auto; 
    margin-left:15px; 
    float: left; 
    padding:20px;
    display: inline
}

img {
    width: 100%;
}

.p-box {
    float: right;
    display: inline;
    max-width: 400px;
}

  

.footer {
    border-top: 5px solid #4aaaa5;
    background-color:grey;
    height: 50px;
}

.footer-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: center
}   

.portfolio-box {
    position: relative;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    background: url(../images/cal.jpg) center/cover;
}
.portfolio-box span {
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
}

.portfolio-box-label {
    bottom: 10px;
    position: absolute;
    background-color: #4aaaa5;
    width: 100%;
}

.container {
    border-radius: 5px;
   
    padding: 20px;
    max-width: 500px;
    float: left;
    margin: 10px;
    width: 100%;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

@media (max-width: 980px) {
    
    .nav-right {
        margin-left: 340px;
    }
    
 
}


@media (max-width: 768px) {
   
    .nav-right {
        margin-left: 190px;
    }
  
}

@media (max-width: 640px) {
   
.nav-left {
        float: none;
    }
   
    header {
        height: 100px;
    }

    .nav-left {
        width: 100%;
        float: none;
    }
    .nav-right {
        width: 100%;
        float: none;
        text-align: center;
        margin-left: 0px;
    }

    .nav-main {
        width: auto;
      
    }  

    .body-box4 {
        display:block;
    }

    .body-box {
        min-height: 800px;


}
/* -- Closing max-width: 640px-- */
